In [1]:
import pandas as pd
import numpy as np

In [30]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

In [3]:
train_data.head()

,Product_id,Stall_no,instock_date,Market_Category,Customer_name,Loyalty_customer,Product_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price,Selling_Price
0,BRAE2NF6JA5GUEXG,37.0,2015-08-22 18:36:12.000,2,Lillyann,Yes,Fashion,1,68,0.0,376.0,11.0,2983.0,4713.0,4185.947700
1,TUNE8SFB6RJN2HSD,38.0,2016-03-27 21:19:13.000,24,Klynn,Yes,Fashion,0,51,0.0,397.0,12.0,7495.0,10352.0,9271.490256
2,BRAEAR7WZPQGPBZU,9.0,2015-08-18 19:25:22.000,447,Ridge,Yes,Child_care,0,10,0.0,250.0,9.0,5752.0,7309.0,6785.701362
3,WATDZ2ZQ8JPDHCTJ,50.0,2016-03-28 21:53:01.000,23,Abran,Yes,Educational,2,48,0.0,144.0,13.0,5090.0,20814.0,13028.917824
4,JWSEBUKYQPMBZ3RK,7.0,2016-03-29 22:58:53.000,63,Dustyn,Yes,Repair,1,35,1.0,211.0,4.0,2430.0,9261.0,906.553935

In [4]:
train_data.shape

(6368, 15)

In [31]:
test_data.shape

(3430, 14)

In [6]:
train_data.drop(['Product_id', 'instock_date', 'Customer_name'], axis=1, inplace=True)

In [32]:
test_data.drop(['Product_id', 'instock_date', 'Customer_name'], axis=1, inplace=True)

In [7]:
train_data.shape

(6368, 12)

In [33]:
test_data.shape

(3430, 11)

In [8]:
train_data.isnull().sum()

Stall_no              5
Market_Category       0
Loyalty_customer      0
Product_Category      0
Grade                 0
Demand                0
Discount_avail       38
charges_1           198
charges_2 (%)       205
Minimum_price        38
Maximum_price       343
Selling_Price        41
dtype: int64

In [34]:
test_data.isnull().sum()

Stall_no             1
Market_Category      0
Loyalty_customer     0
Product_Category     0
Grade                0
Demand               0
Discount_avail       0
charges_1           36
charges_2 (%)        5
Minimum_price       14
Maximum_price        0
dtype: int64

### Handling missing values

#### `stall_no`

In [10]:
train_data['Stall_no'].fillna(train_data['Stall_no'].mode()[0], inplace=True)

In [35]:
test_data['Stall_no'].fillna(test_data['Stall_no'].mode()[0], inplace=True)

#### `discount avail`

In [12]:
train_data['Discount_avail'].fillna(train_data['Discount_avail'].mode()[0], inplace=True)

#### `charges 1`

In [17]:
train_data['charges_1'].fillna(train_data['charges_1'].mean(), inplace=True)

In [36]:
test_data['charges_1'].fillna(test_data['charges_1'].mean(), inplace=True)

#### `charges 2`

In [18]:
train_data['charges_2 (%)'].fillna(train_data['charges_2 (%)'].mean(), inplace=True)

In [37]:
test_data['charges_2 (%)'].fillna(test_data['charges_2 (%)'].mean(), inplace=True)

#### `minimum price`

In [19]:
train_data['Minimum_price'].fillna(train_data['Minimum_price'].mean(), inplace=True)

In [38]:
test_data['Minimum_price'].fillna(test_data['Minimum_price'].mean(), inplace=True)

#### `maximum price`

In [20]:
train_data['Maximum_price'].fillna(train_data['Maximum_price'].mean(), inplace=True)

#### selling price

In [25]:
train_data.dropna(inplace=True)

In [26]:
train_data.shape

(6327, 12)

In [29]:
x_train = train_data.drop(['Selling_Price'], axis=1)
y_train = train_data['Selling_Price']

print(x_train.shape)
print(y_train.shape)

(6327, 11)
(6327,)

In [42]:
x_train_dummy = pd.get_dummies(x_train)
x_test_dummy = pd.get_dummies(test_data)

In [39]:
print(test_data.shape)

(3430, 11)

### Modelling

In [60]:
from sklearn.tree import DecisionTreeRegressor

reg = DecisionTreeRegressor(random_state=0)

reg.fit(x_train_dummy, y_train)

y_pred = reg.predict(x_test_dummy)

In [82]:
from sklearn.ensemble import GradientBoostingRegressor

est = GradientBoostingRegressor(learning_rate=0.1)

est.fit(x_train_dummy, y_train)

y_pred_new = est.predict(x_test_dummy)

In [91]:
from sklearn.ensemble import AdaBoostRegressor

ada_reg = AdaBoostRegressor(learning_rate=0.1)

ada_reg.fit(x_train_dummy, y_train)

y_pred_ada = ada_reg.predict(x_test_dummy)

In [78]:
y_pred = [abs(x) for x in y_pred]

In [83]:
y_pred_new = [abs(x) for x in y_pred_new]

In [92]:
y_pred_ada = [abs(x) for x in y_pred_ada]

In [44]:
test_data_new = pd.read_csv('test.csv')

In [63]:
submission = pd.DataFrame({'Product_id': test_data_new['Product_id'],
                          'Selling_Price': y_pred})

In [64]:
submission.to_csv('submission.csv', index=False)

In [84]:
submission1 = pd.DataFrame({'Product_id': test_data_new['Product_id'],
                          'Selling_Price': y_pred_new})

In [85]:
submission1.to_csv('submission1.csv', index=False)

In [93]:
submission2 = pd.DataFrame({'Product_id': test_data_new['Product_id'],
                          'Selling_Price': y_pred_ada})

In [94]:
submission2.to_csv('submission2.csv', index=False)